.div1 {
  width: 100%;
  margin-top: 5px;
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 170px;
  padding-right: 170px;
  background: #FE7373;
}
.div2 {
  height: 1724px;
  width: 718;
  margin-left: 173px;
  margin-right: 173px;
  padding-left: 95px;
  padding-top: 120px;
  padding-right: 95px;
  padding-bottom: 55px;
  background: #ffffff;
  border: solid 4px #000000;
  border-radius: 25px;
  text-align: center;

}


.table1 {
  margin-top: 65px;
  border-collapse: separate;
  border-spacing: 0px 95px;
}
.td1 {
  width: 39%;
  font-family: 'Kosugi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #000000;
  text-align: center;
}
.td2{
  width: 42.3%;
  font-family: 'Kosugi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #000000;
}
.td3{
  width: 41.2%;
  font-family: 'Kosugi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #000000;
  text-align: center;
}

.colon {
  font-size: 32px;
}

.flex_btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.space {
  width: 150px;
}

//テキストcss
.text{
  height: 3rem;
  width: 70%;
  font-size:  16px;
  border: 2px solid black;
  border-radius: 1rem;
  padding-left: 30px;
}
//テキストの横幅調整
.text_width{
  padding-left:3%;
  width:100%;
}
//テキストエリアの幅
.text_area{
  resize: auto;
  min-width: 100px;
  min-height: 100px;
  height: 10rem ;
  width: 50rem;
}
//テキストエリアの横幅調整
.textarea_width{
  padding-left: 18%;
  width: 50%;
}
//生年月日の横幅調整
.date_width{
  padding-right: 55.7%;
}
//上余白
.padding_top{
  padding-top: 2%;
}