.div1 {
  /* 全体の幅 */
  width: 100%;
  /* 上部のマージン */
  margin-top: 5px;
  /* 上部のパディング */
  padding-top: 60px;
  /* 下部のパディング */
  padding-bottom: 100px;
  /* 左側のパディング */
  padding-left: 170px;
  /* 右側のパディング */
  padding-right: 170px;
  /* 背景色 */
  background: #5ed8f2;
}
.div2 {
  /* 高さ */
  height: 100%;
  /* 幅 */
  width: 80rem;
  /* 中央配置 */
  margin: auto;
  /* 左側のパディング */
  padding-left: 95px;
  /* 上部のパディング */
  padding-top: 120px;
  /* 右側のパディング */
  padding-right: 95px;
  /* 下部のパディング */
  padding-bottom: 55px;
  /* 背景色 */
  background: #ffffff;
  /* 境界線 */
  border: solid 4px #000000;
  /* 角丸 */
  border-radius: 25px;
}

.table1 {
  margin: 1.5rem 0px;
  border-collapse: separate;
  border-spacing: 0px 95px;
}
.td1 {
  width: 300px;
  font-family: 'Kosugi Maru';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #000000;
  text-align: center;
}
.colon {
  font-size: 32px;
}

.flex_btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.space {
  width: 150px;
}
.text {
  color: #000;
  font-family: Kosugi Maru;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.28px;
}
.textarea {
  /* 改行表示 */
  white-space: pre-wrap;
  /* 行間 */
  line-height: 140%;
  /* フォントサイズ */
  font-size: 26px;
}
