NEXT_PUBLIC_SUPABASE_URL=https://mzshkvccqxfrakkqulzo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16c2hrdmNjcXhmcmFra3F1bHpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODU2NjYyNjUsImV4cCI6MjAwMTI0MjI2NX0.M5ucfVLmztXnsrxQcNM5-gOta0xUBFBJxJ_CIdwIpVk