.div{
    display: flex;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 136px;
}
.img{
    object-fit: contain;
    object-position: center;
    position: absolute;
    height: 10%;
    width: 10%;
    top: 0;
    left: 0;
    display:block;
}
.Imagesizer{
    width: 100%;
    padding-top: 52.20588235294118%;
    pointer-events: none;
    font-size: 0;
}

.HeroBtn_root {
    width: 100pt;
    height: 40pt;
    padding: 20px ;
    border: solid 4px #1E1E1E;
    border-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px gray;

}
.HeroBtn_img{
    display: inline-block;
    position:  relative;
    overflow: hidden;
    width:50%;
    height:110%
}

.HeroBtn_title[data-el="h2_small"]  {
    font-size: 32px;
    display: flex;
    position:  relative;

}
  

@keyframes easeInOutImage {

}
